{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

<header>
    <div class="swiper singleSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide blur" style="background:url({% static 'assets/image/header/bg-2.jpg' %});">
                <div class="container">
                    <div class="headerSlideMain">
                        <div class="content">
                            <h1>
                                <span>ANAHTAR TESLİM</span>
                                Profesyonel Projeler
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
                            </p>
                            <a class="button border c-white" href="projeler.html">
                                PROJELER
                                <svg viewBox="0 0 26.463 8.312"><path d="M299.086,183.828h26.463l-8.312-8.312-1.67,1.669,4.281,4.281H299.086Z" transform="translate(-299.086 -175.516)"></path></svg>
                            </a>
                        </div>
                        <!-- <div class="imgContent">
                            <img data-src="assets/image/header/default.png" alt="Default image" class="lazy">
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="swiper-slide blur" style="background:url({% static 'assets/image/header/bg-2.jpg' %});">
                <div class="container">
                    <div class="headerSlideMain">
                        <div class="content">
                            <h1>
                                <span>ANAHTAR TESLİM</span>
                                Profesyonel Projeler
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
                            </p>
                            <a class="button border c-white" href="projeler.html">
                                PROJELER
                                <svg viewBox="0 0 26.463 8.312"><path d="M299.086,183.828h26.463l-8.312-8.312-1.67,1.669,4.281,4.281H299.086Z" transform="translate(-299.086 -175.516)"></path></svg>
                            </a>
                        </div>
                        <!-- <div class="imgContent">
                            <img data-src="assets/image/header/default.png" alt="Default image" class="lazy">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="headerBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="left">
                        <p>
                            Zamanın Ötesinde
                            <span>Profesyonel Dokunuşlara Sahip Olun!</span>
                        </p>
                        <img src="{% static 'assets/image/icons/header_angles.svg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="right">
                        <div class="swiper servicesSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="box">
                                        <div class="icon">
                                            <img src="{% static 'assets/image/icons/header_icon1.svg' %}" alt="3 Boyutlu Tasarım">
                                        </div>
                                        <div class="content">
                                            <p> Lorem,  <br> ipsum dolor.</p>
                                            <a href="#">Hemen İncele</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="box">
                                        <div class="icon">
                                            <img src="{% static 'assets/image/icons/header_icon2.svg' %}" alt="Peyzaj Düzenlemesi">
                                        </div>
                                        <div class="content">
                                            <p> Lorem,  <br>ipsum. </p>
                                            <a href="#">Hemen İncele</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="box">
                                        <div class="icon">
                                            <img src="{% static 'assets/image/icons/header_icon3.svg' %}" alt="Ruhsat ve İskan İşlemleri">
                                        </div>
                                        <div class="content">
                                            <p> Lorem ipsum  <br> dolor sit.</p>
                                            <a href="#">Hemen İncele</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="homeAbout">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="imgContent imgBorder">
                    <img data-src="{% static 'assets/image/article/home_about.png' %}" alt="METİN About" class="lazy">
                </div>
            </div>
            <div class="col-lg-6">
                <h3>
                    <span>METİN KURUMSAL</span>
                    Bizi Yakından Tanıyın
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    <br><br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
                <a href="{{hakkimizda}}" class="button bg-green">
                    KURUMSAL
                    <svg viewBox="0 0 26.463 8.312"><path d="M299.086,183.828h26.463l-8.312-8.312-1.67,1.669,4.281,4.281H299.086Z" transform="translate(-299.086 -175.516)"></path></svg>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="subPage blogPage">
    <div style="margin-top: 100px;margin-bottom: 100px;" class="container">
        <div class="sectionTitle">
            <h2>
                    Hizmetlerimiz  
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="{% url 'ankara_dijital_baski' %}">
                    <div class="blogBox blur">
                        <div class="imgContent imgBorder">
                            <img data-src="{% static 'assets/image/article/home_about.png' %}" alt="Blog Image" class="lazy">
                        </div>
                        <div class="content">
                            <p class="title">Dijital Baskı</p>
                            <div class="button bg-green h-40">İncele</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="{% url 'ankara_dijital_baski' %}">
                    <div class="blogBox blur">
                        <div class="imgContent imgBorder">
                            <img data-src="{% static 'assets/image/article/home_about.png' %}" alt="Blog Image" class="lazy">
                        </div>
                        <div class="content">
                            <p class="title">Display Ürünler</p>
                            <div class="button bg-green h-40">İncele</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="{% url 'ankara_dijital_baski' %}">
                    <div class="blogBox blur">
                        <div class="imgContent imgBorder">
                            <img data-src="{% static 'assets/image/article/home_about.png' %}" alt="Blog Image" class="lazy">
                        </div>
                        <div class="content">
                            <p class="title">Tabela Sistemleri</p>
                            <div class="button bg-green h-40">İncele</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="{% url 'ankara_dijital_baski' %}">
                    <div class="blogBox blur">
                        <div class="imgContent imgBorder">
                            <img data-src="{% static 'assets/image/article/home_about.png' %}" alt="Blog Image" class="lazy">
                        </div>
                        <div class="content">
                            <p class="title">Promosyon Ürünleri</p>
                            <div class="button bg-green h-40">İncele</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="{% url 'ankara_dijital_baski' %}">
                    <div class="blogBox blur">
                        <div class="imgContent imgBorder">
                            <img data-src="{% static 'assets/image/article/home_about.png' %}" alt="Blog Image" class="lazy">
                        </div>
                        <div class="content">
                            <p class="title">Matbaa Hizmetleri</p>
                            <div class="button bg-green h-40">İncele</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="{% url 'ankara_dijital_baski' %}">
                    <div class="blogBox blur">
                        <div class="imgContent imgBorder">
                            <img data-src="{% static 'assets/image/article/home_about.png' %}" alt="Blog Image" class="lazy">
                        </div>
                        <div class="content">
                            <p class="title">Ankara Web Tasarımı</p>
                            <div class="button bg-green h-40">İncele</div>
                        </div>
                    </div>
                </a>
            </div>
           
        </div>
    </div>
</section>
 
<section class="homeBlog">
    <div class="container">
        <div class="sectionTitle">
            <p>
                BLOG
                <span>DOMAİNNAME'TAN YAZILAR</span>
            </p>
        </div>
        <div class="swiper blogSwiper">
            <div class="swiper-wrapper">

                {% if blogobj %}
                {% for obj in blogobj  %}
                <div class="swiper-slide imgBorder">
                    <a href="{{obj.get_absolute_url}}">
                        <div class="blogBox blur">
                            <div class="imgContent">
                                <img data-src="{% if obj.image %}{{obj.image.url}}{% endif %}" alt="{{obj.title}}" class="lazy">
                            </div>
                            <div class="content">
                              <p class="date">{{obj.created_date|default_if_none:""}}</p>
                              <p class="title">{{obj.title|default_if_none:""}}</p>
                              <div class="button bg-green h-40">DETAY</div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                  
              {% endif %}

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% endblock body %}
