// Text Size
$size_50:50px;
$size_40:40px;
$size_30:30px;
$size_25:25px;
$size_20:20px;
$size_18:18px;
$size_16:16px;
$size_14:14px;
$size_12:12px;
$size_10:10px;

// Colors
$green_100:#82C14E;
$white_100:#ffffff;
$white_200:#F0F0F0;
$white_300:#DCDCDC;
$gray_100:#8F8F8F;
$dark_100:#3E3E3E;
$blue_100:#082134;

// Fonts
$p_semibold:"Poppins-SemiBold";
$p_medium:"Poppins-Medium";
$p_regular:"Poppins-Regular";
$p_light:"Poppins-Light";
$m_bold:"Montserrat-Bold";
$m_semibold:"Montserrat-SemiBold";
$m_medium:"Montserrat-Medium";
$m_regular:"Montserrat-Regular";

// Radius
$radius_50:50px;
$radius_8:8px;

// Media Query
$maxWidth_md:991px;
$maxWidth_sm:767px;
$maxWidth_xs:575px;